<%- include("header") -%>
        <div class="box" id="heading">
            <h1>
                <%= listTitle %>
            </h1>
        </div>

        <div class="box">

            <% for (let i=0; i < newListItems.length; i++) { %>
                <div class="item">
                    <input type="checkbox">
                    <p>
                        <%= newListItems[i] %>
                    </p>
                </div>
                <% } %>

                    <form class="item" action="/" method="post">
                        <input type="text" name="newItem" placeholder="New item" required pattern=".{3,}" title="Please enter at least 3 characters">
                        <button type="submit" name="list" value=<%= listTitle %>>+</button>
                    </form>
        </div>


<%- include ("footer") -%>